html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    header
      h1 Hymn
      a#github(
        href="https://github.com/gouz/hymn",
        rel="noopener",
        title="Link to the project",
        target="_blank"
      )
        include img/github.svg
        span.a11y Link to the source

    form
      input#data(type="text", placeholder="Your text")

    #abc
      #audio

      #sheet

    script(src="./js/main.js", type="module")
