html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    header
      a#github(
        href="https://github.com/gouz/hymn",
        rel="noopener",
        title="Link to the project",
        target="_blank"
      )
        include img/github.svg
        span.a11y Link to the source

    main
      #form.jumbotron
        h1 Hymn
        p Transform your text into a song !
        form
          button.hide(type="submit", disabled, aria-hidden="true")
          input#data(type="text", placeholder="Your text")
          button#generate(type="button") 
            include img/music.svg
            span Music, maestro !

      #music.jumbotron.hide
        #sheet
        #audio
        #buttons-wrapper
          button#print(type="button")
            include img/print.svg
            span Print
          button#new(type="button")
            include img/edit.svg
            span Change text

    script(src="./js/main.js", type="module")
